files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/02zPrePip.py":
      mode: "000775"
      owner: root
      group: root
      content: |
         #!/usr/bin/env python
         import os
         import sys
         sys.path.append(os.path.dirname(os.path.dirname(os.path.dirname(os.path.abspath(__file__)))))
         import config
         from subprocess import check_call
         def main():
          try:
           RequirementsFile = os.path.join(config.get_container_config('app_staging_dir'),'requirements.txt')
           APP_VIRTUAL_ENV = config.get_container_config('app_virtual_env')
           print('Attempting to pre-pip ' + RequirementsFile)
           for line in open(RequirementsFile):
            check_call('%s install --proxy=pbcld-proxy.nordstrom.net:3128 --upgrade --trusted-host=pypi.python.org --index-url=http://pypi.python.org/simple %s' % (os.path.join(APP_VIRTUAL_ENV, 'bin', 'pip'), line), shell=True)
          except Exception, e:
            config.emit_error_event(config.USER_ERROR_MESSAGES['badrequirements'])
            config.diagnostic("Error pre-pip custom script installing dependencies: %s" % str(e))
            sys.exit(1)
             
         if __name__ == '__main__':
          config.configure_stdout_logger()
          main()
